<div>
    <div class="container">
    <div class="row">
        <div id="burgersList" class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <label for="addABurger">Add a Burger</label>
                <input class="form-control" id="addBurgerInput" aria-describedby="devourHelp" placeholder="Enter a burger type you would like to add">
                <small id="devourHelp" class="form-text text-muted">You can add burger type and devour it later on</small>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <button class="btn btn-primary" id="addBurgerBtn">Add</button>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
        <div id="devourList" class="col-sm"></div>
    </div>
    </div>
</div>