<h1>
    <div class="container">
        <div class="row">
            <div id="burgersList" class="col-sm"></div>
        <div class="col-sm">
    <div class="form-group">
        <label for="addABurger">Add a Burger</label>
        <input class="form-control" id="addBurgerInput" aria-describedby="emailHelp" placeholder="Enter a burger type you would like to add">
        <small id="emailHelp" class="form-text text-muted">You can add burger type and devour it later on</small>
    </div>
    <button id="addBurgerBtn">Add</button>
    </div>
        <div id="devourList" class="col-sm"></div>
    </div>
    </div>
</h1>